<header>
	<h1>Guide to the Markets</h1>
</header>

<div resize ng-controller="CarouselCtrl" >

	<nav id='subnav' class='clearfix'>
		<ul>
			<li ng-repeat="item in carousel">
				<a href='' ng-click='gotoItem($index+1)'>{{item.header}}</a>
			</li>
		</ul>
	</nav>

	<a ng-click='goPrev()'>PREV</a>
	<a ng-click='goNext()'>NEXT</a>

	<ul id='carousel' 
		class='transition clearfix'
		ng-style="{ 'left': newPos + 'px', 
					'width': carouselWidth + 'px',
					'-webkit-transition': transitionSpeed + 's linear all',
					'-moz-transition': transitionSpeed + 's linear all',
					'-o-transition': transitionSpeed + 's linear all',
					'transition': transitionSpeed + 's linear all' }" >
		<li ng-repeat="item in carousel" ng-style="{ 'width': carouselItemWidth + 'px' }">
			<h1>{{item.header}}</h1>
			<p>{{item.paragraph}}</p>
			<img ng-src="{{item.image}}"/>
		</li>
	</ul>

</div>